﻿/*
 * $Revision: 746 $
 * $Author: tkeffer $
 * $Date: 2012-11-07 15:51:15 -0800 (Wed, 07 Nov 2012) $
 */
  
body {
	font: 11pt Verdana,arial,sans-serif;
	color: black;
}
p {
	font: 11pt Verdana,arial,sans-serif;
	color: black;
}
ol {
	font: 11pt Verdana,arial,sans-serif;
	color: black;
}
ul {
	font: 11pt Verdana,arial,sans-serif;
	color: black;
}
li {
	font: 11pt Verdana,arial,sans-serif;
	color: black;
}
dl {
	font: 11pt Verdana,arial,sans-serif;
	color: black;
}
dt {
	font: 11pt Verdana,arial,sans-serif;
	color: black;
}
dd {
	font: 11pt Verdana,arial,sans-serif;
	color: black;
}
h1 {
	font: bold xx-large Verdana, arial, sans-serif;
	color: #FFFFFF;
	border: 1px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	background-color: #008080;
	padding-left: .5em;
	padding-right: .5em;
	margin-top: 60pt;
	border-right-width: medium;
	border-bottom-width: medium;
}
h2 {
	font: bold x-large Verdana, arial, sans-serif;
	color: teal;
	border: 1px solid black;
	background-color: #e8e8e8;
	padding-left: .5em;
	padding-right: .5em;
	margin-top: 30pt;
}
h3 {
	font: bold medium Verdana, arial, sans-serif;
	color: teal;
	border: 1px solid black;
	background-color: #e8e8e8;
	padding-left: .5em;
	padding-right: .5em;
}
h4 {
	font: bold medium Verdana, arial, sans-serif;
	color: black;
	text-decoration: underline;
}
.code {
	font-family: "Courier New", Courier, monospace;
}
table {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}
td {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}
.indent {
	margin-left: 40px;
}
.tty, pre {
	font-family: "Courier New", Courier, monospace;
	margin-left: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #FFFFCC;
}
.title {
	text-align: center;
	margin-top: 0px;
}
.config_option {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	margin-bottom: -12px;
}
.config_section {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}
.config_important {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	color: #0000FF;
	margin-bottom: -12px;
}
.bold_n_blue {
	color: #0000FF;
	font-weight:bold;
}
.xxsmall {
	font-size: xx-small;
}
.highlight {
	background-color: #FFCC99;
}
.center {
	text-align: center;
}
.Example_output {
	padding: 10px;
	border: thin #000000 dotted;
	font-family: "Times New Roman", Times, serif;
	margin-left: 40px;
}

div#toc ul {
    list-style: none;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
	text-align:left;
}
